.local-hinario-country {
    font-weight: bold;
}

.local-hinario p, .local-hinario h4 {
    margin-left: 80px;
}

.local-hinario h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.local-hinario p {
    margin-bottom: 15px;
    color: black;
}

.local-hinario-state {
    margin-left: 20px;
}

.local-hinario-city {
    margin-left: 40px;
}

.local-hinario-church {
    margin-left: 60px;
}

.hymn-list-name a {
    color: #4e6891;
    font-weight: 800;
    font-size: 1.2em;
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
}

.hymn-list-name {
    padding-bottom: 10px !important;
    margin-bottom: 10px !important;
    /* text-indent: -20px; */
}

.hymn-list-number {
    font-weight: 500;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: top;
}

.less-padding a {
    padding-top: 3px !important;
    padding-left: 6px !important;
    padding-bottom: 3px !important;
    padding-right: 10px !important;
}

.hinario-player-tab {
    padding: 0px !important;
}

.vertical-tabs .nav > li > a {
    font-size: .8em !important;
    text-transform: none !important;
}

.vertical-tabs .nav > li > a:after {
    font-family: 'rt-icons-2';
    content: "\e7c5";
    position: absolute;
    font-size: 12px;
    line-height: 35px;
    text-align: center;
    right: 0;
    top: 0;
    bottom: 0;
    width: 16px;
    letter-spacing: 0;
}

.hinario-recording-source {
    font-size: .85em !important;
    background-color: white;
}

.personal-hinario-list h4 {
    display: inline-block;
    padding-right: 60px;
}

.personal-hinario-actions {
    display: inline-block;
}

.personal-hinario-actions a {
    padding-right: 20px;
}

.hinario-section-name {
    font-size: 1.4em;
    padding-bottom: 20px;
    font-weight: bold;
    display: inline-block;
}

.extend-right {
    right: auto !important;
    left: 0 !important;
}

.personal-hymn-actions {
    display: inline-block;
}

.personal-hymn-actions form {
    display: inline-block;
}

.personal-hymn-actions a {
    padding-right: 20px;
    color: #148c3a;
    font-size: 1.1em;
}

.hinario-header {
    text-indent: -2em;
    padding-left: 15%;
}
