.hinario-breadcrumb-bold {
    font-weight: bold;
    font-size: .85em;
}

.hinario-breadcrumb a {
    font-size: .85em !important;
}

.hinario-breadcrumb-also {
    padding-top: 10px;
    font-size: .85em;
}

.hinario-breadcrumb-hinario a {
    font-size: 1.15em;
    display: inline-block;
}

.sun-moon-stars {
    padding-top: 20px;
    color: black;
}

.hymnstanza {
    overflow: hidden;
}

.hymn-notation {
    font-size: 1em;
    font-style: italic;
    float: right;
    padding-right: 20px;
    font-weight: bold;
}

.hymn-words {
    float: left;
    margin-left: 4px;
    color: black;
}

.hymn-title {
    float: left;
    margin-left: 4px;
    margin-bottom: 15px;
    color: black;
}

.hymn-bar-full {
    float: left;
    padding-left: 4px;
    border-left: 2px solid black;
}

.hymn-bar-full {
    float: left;
    padding-left: 4px;
    border-left: 2px solid black;
}

.hymn-bar-empty {
    float: left;
    padding-left: 4px;
    border-left: 2px solid white;
}

.hymn-spacer {
    height: 5px;
    width: 100%;
    padding-left: 200px;
}

.audio-player {
    display: inline-block;
}

.vote-taker {
    display: inline-block;
}

.audio-vote {
    display: inline-block;
    font-size: 1.1em;
    position: relative;
    top: -.4em;
    left: .2em;
}

.audio-vote i {
    color: #4e6891;
}

.audio-source {
    font-size: .8em;
}

.audio-source a {
    font-size: 1em !important;
}

.upvote-count {
    padding-left: 10px;
    font-size: .6em;
    display: inline-block;
}

.upvote-tooltip {
    display: inline-block;
}

.add-hymn {
    font-size: .6em;
}

.add-hymn > li > a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.add-hymn-response {
    font-size: .8em;
    text-align: center;
}

.add-hymn-button {
    padding: 5px 0px 5px 0px !important;
    border: none;
    cursor: pointer;
}

.add-hymn-dropdown {
    color: #e65f32;
    text-indent: 0px !important;
}

.add-hymn-text-input {
    height: 40px !important;
    width: 100% !important;;
}

.hymn-title-add-form {
    position: relative;
    top: 5px;
    right: 10px;
    display: inline-block;
}
